---
import NavBar from "@components/shared/NavBar.astro";
import { ClientRouter } from "astro:transitions";
import { siteInfo } from "src/consts/site-info";

interface Props {
  title?: string;
  image?: string;
  favicon?: string;
  description?: string;
}

const {
  title = siteInfo.title,
  description = siteInfo.description,
  favicon = "../../public/img/pokedex.png",
  image,
} = Astro.props as Props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href={favicon} type="image/x-icon" />

    <!--SEO-->
    <meta name="description" content={description} />
    <meta name="auth" content={description} />

    <!--OF MetaTags-->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={"alxrgdriguez"} />

    <title>{title}</title>
    <ClientRouter />
  </head>
  <body class="bg-slate-800 text-slate-100">
    <NavBar />
    <div class="flex justify-center">
      <main class="my-10 max-w-3xl w-full px-4">
        <slot />
      </main>
    </div>
  </body>
</html>
